app/*.png filter=lfs diff=lfs merge=lfs -text
app/Group filter=lfs diff=lfs merge=lfs -text
13.png filter=lfs diff=lfs merge=lfs -text
app/Group[[:space:]]13.png filter=lfs diff=lfs merge=lfs -text
app/image.png filter=lfs diff=lfs merge=lfs -text
